nav, footer, section {
	background: #F4eeff;
}

body {
	margin: 0;
	background: #dcd6f7;
}

nav {
	padding: 12px;
	box-shadow: 0px 30px 62px -39px rgba(66, 68, 90, 1);
}

nav > * {
	width: 33%;
	margin: 0 auto;
	text-align: center;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	text-align: center;
	padding: 20px;
}

section {
	width: 300px;
	margin: 15px auto;
	padding: 15px;
	border-radius: 50px;
	box-shadow: inset 0px 0px 50px -5px rgba(66, 68, 90, 1);
}

img {
	border-radius: 35px;
}
